# Server Port
PORT=3000

# MongoDB Connection String
# For Local MongoDB:
# MONGO_URI=mongodb://127.0.0.1:27017/land_acquisition_db

# For Shared Cloud MongoDB (MongoDB Atlas):
# MONGO_URI=mongodb+srv://<username>:<password>@cluster0.xxx.mongodb.net/land_acquisition_db?retryWrites=true&w=majority
